<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <configSections>
      <sectionGroup name="common">
        <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
      </sectionGroup>
    </configSections>

    <common>
      <logging>
        <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
          <arg key="level" value="ALL" />
          <arg key="showLogName" value="true" />
          <arg key="showDataTime" value="true" />
          <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
        </factoryAdapter>
      </logging>
    </common>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="ApiClientShared" publicKeyToken="683b8efceae684a6" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.0.5968.19413" newVersion="1.0.5968.19413" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>

</configuration>