<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Digipost.Api.Client.Testklient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Digipost.Api.Client.Testklient.Properties.Settings>
      <setting name="Thumbprint" serializeAs="String">
        <value>d6 5e 6c 4c 77 fc 0e 0d c5 f5 ac 32 bc 43 70 1f a8 b0 3d 21</value>
      </setting>
      <setting name="SenderId" serializeAs="String">
        <value>779052</value>
      </setting>
      <setting name="Url" serializeAs="String">
        <value>https://qa2.api.digipost.no</value>
      </setting>
      <setting name="ThumbprintLocalhost" serializeAs="String">
        <value>20 7a 24 e2 56 c6 48 d1 07 95 c1 fe 7d 2f 91 99 15 20 ba 16</value>
      </setting>
      <setting name="UrlLocalhost" serializeAs="String">
        <value>http://192.168.36.1:8282</value>
      </setting>
      <setting name="SenderIdLocalhost" serializeAs="String">
        <value>1102</value>
      </setting>
      <setting name="ThumbprintDnBLocalQa" serializeAs="String">
        <value>d8 6e 19 1b 8f 9b 0b 57 3e db 72 db a8 09 1f dc 6a 10 18 fd</value>
      </setting>
      <setting name="SenderidDnbLocalhost" serializeAs="String">
        <value>1003</value>
      </setting>
      <setting name="SenderIdDnbQa2" serializeAs="String">
        <value>106818904</value>
      </setting>
    </Digipost.Api.Client.Testklient.Properties.Settings>
  </userSettings>
</configuration>