<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Digipost.Api.Client.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Digipost.Api.Client.Properties.Settings>
        <setting name="Url" serializeAs="String">
            <value>https://api.digipost.no/</value>
        </setting>
        <setting name="TimeoutMilliseconds" serializeAs="String">
            <value>30000</value>
        </setting>
        <setting name="LogToFile" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="LogPath" serializeAs="String">
            <value />
        </setting>
        <setting name="SenderId" serializeAs="String">
            <value />
        </setting>
    </Digipost.Api.Client.Properties.Settings>
  </applicationSettings>
</configuration>